<%- include ("partials/header.ejs") %>
<br><br><br><br><br><br>

<div class="b-card">
<div class="card" style="width: 18rem;">
    <img src="https://www.proideators.com/wp-content/uploads/2022/07/How-To-Make-Your-Career-As-A-Food-Blogger-In-India-ProiDeators.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FOOD</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/view-blog1" class="btn btn-dark">VIEW</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://onlinedegrees.sandiego.edu/wp-content/uploads/2023/05/teaching-blog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">EDUCATION</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/view-blog2" class="btn btn-dark">VIEW</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://gulfcoastlocal.com/Portals/0/Business-Blogging-810x405.jpg?ver=0SwXldT79dj-ej3OWPo4GA%3D%3D" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BUSINESS</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/view-blog3" class="btn btn-dark">VIEW</a>
    </div>
  </div>
</div>


<br><br><br><br><br><br>


<%-include("partials/footer.ejs")  %>