<%- include("partials/header.ejs") %>
<body class="con-bg">
<div class="con-all">
<br><br><br><br>
<h1 class="con-h1">Contact Us</h1>
<form class="con-form">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" class="con-btn" />
</form>
</div>
</body>

<%- include("partials/footer.ejs") %>