
<%- include ("partials/header.ejs") %>


<div class="b1">
  <p>Type Your Mind.....</p>
  <p> Write. Rewrite.</p>
  <button class="button" onclick="window.location.href = '/blog1';">Create Your Blog </button>
</div>

        <div class="b2">
          <p>Pick Your Starting Point</p>
          <h2>Choose Your Style</h2>
        </div>
        
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.thesideblogger.com/wp-content/uploads/2022/01/Canva-Free-Media-Kit-Image.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2022/01/blogger-category-page-template-featured.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://149842033.v2.pressablecdn.com/wp-content/uploads/2018/04/ogato-html-blog-template.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="b3">
          <div class="b3-content">
            <p class="head">Build Your Blog</p>
            <p class="pt">Design a unique blog</p>
            <p class="pt">Establish your site’s domain name</p>
            <p class="pt">Create with content in mind</p>
            <button onclick="window.location.href = '/blog1';">Start Blogging</button></div>
            <img class="b3-img" src="https://static.showit.co/1200/RKC36LkvRNWDSPuFe0E4-Q/92644/elle-showit-blog-template-for-travel-bloggers-grid.jpg" alt="">
        </div>

        <div class="b4">
          <div class="b4-content">
            <p class="b4-p1">Publish faster and on-brand with WordWave</p>
            <p class="b4-p2">Each blog post has to start somewhere.
               WordWave is your personal creative agency providing idea starter content for you to mold into the perfect post.<br><br>
               <strong>“Let WordWave be your guide to mastering the craft of writing.”</strong></p>
          </div>
          <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi77zIp57JRGz1gfl3xjdMOh87kcvXSuCJ_gQb4dHmzK23XCdBQSK7YApcIBrwdbMwvM055KD-6l0ADVrC97i0qFCB2uVb3LreNIOdLrgXIw1pBT00xFWVF-xiUEX2LZgwsOpx0gB24-DOA/s1600/Brightcove-Agents.png" alt="publish" class="b4-img">
        </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<%-include("partials/footer.ejs")  %>